@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@font-face {
              font-family: "chino";
              src: url("../Fuentes/ITCKRIST.TTF");
            }

body  {background-color: #FEF29A;
       font-family: 'Dosis', sans-serif;
       font-size: 1.2rem;
       margin: 30px;}

header {background-color: #C620FF6E;
        color: white;
        font-family: "chino";
        font-size: 1.2rem;
        text-align: center;}

.Por {font-size: 0.8em;;
      text-align: left;}

.Por:hover {font-size: 1.5em;}

nav {background-color: white;
     color: black;
     text-align: center;
     padding: 10px;}

.home:hover {background-color: pink;
             font-size: 1.5em;
             font-family: fantasy;}

.iconowpp {position: fixed;
           width: 5vw; height: 10vh;
           top: 85%; right: 1%;}

.contacto::after {content: "Completar la siguiente información requerida";
                  font-size: 0.7em;
                  font-family: inherit;;}

.nombre:hover {font-size: 2.5em;
               font-family: monospace;}

.apellido:hover {font-size: 2.5em;
               font-family: monospace;}

.correo:hover {font-size: 2.5em;
               font-family: monospace;}

.celular:hover {font-size: 2.5em;
               font-family: monospace;}

.contraseña:hover {font-size: 2.5em;
                   font-family: monospace;}

.genero:hover {font-size: 2.5em;
               font-family: monospace;}

.boton {background-color: pink;}
.boton:hover {width: 8vw;
              height: 8vh;
              background-color: purple;
              color: white;
              font-size: 1em;}

footer {float: inherit; clear: inherit;}
.iconoig {width: 4vw;}
.iconotw {width: 4vw;}

.redes  {font-size: 1em;}
.redes:hover {font-size: 30px;
              font-family: fantasy;
              background-color: yellow;}

.iconowpp:hover {width: 6vw;
                 height: 12vh;}

.iconoig:hover {width: 6vw;
               height: 12vh;}

.iconotw:hover {width: 6vw;
               height: 12vh;}
